@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss" important;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-serif: "Literata", serif;
  --font-mono: "Roboto", monospace;
  --header-height: calc(var(--spacing) * 5);
  --footer-height: calc(var(--spacing) * 5);
  --reader-top-padding: 48px;
  --reader-bottom-padding: 20px;
  --reader-height: calc(
    100dvh - var(--header-height) - var(--footer-height) - var(--reader-top-padding) -
      var(--reader-bottom-padding)
  );
  --reader-x-padding: 28px;
  --reader-text-size: 12px;
  --reader-line-height: 1.2;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

img {
  filter: invert();
  mix-blend-mode: lighten;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: left !important;
  font-family: var(--font-serif) !important;
  font-size: var(--reader-text-size) !important;
  line-height: var(--reader-line-height) !important;
}
